#cabeçalhopagina{
    text-align: center;
    background-image: url(imagens/fundocabeçalho.png);
    border-radius: 5px;
    margin-bottom: 20px;

    
}
#logocabeçalho{
    margin: 0 auto;
    width: 260px;
    height: 110px;
    border-radius: 100px;
    border: 5px rgb(214, 179, 158) solid;
}

body{
    background-image:url(imagens/galaxy.png);
    font-style: italic;
    font-family:cursive;
}
#divcentral{
    margin: 0 auto; /*essa combinação centraliza o elemento*/
    background-color: white;
    width: 700px;
    height: 750px;
    border-radius: 50px;
    border: solid 3px rgb(167, 64, 180);
}
#cabeçalhocentro{
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: rgb(167, 64, 180) 3px solid;
}
input{
    margin-bottom: 15px;
    margin-top: 15px;
}
#foto{
    text-align: center;
}
img{
    margin-top: 20px;
}
footer{
    text-align: center;
}

/*www.mapadomeuceu.com.br/blog/a-personalidade-dos-signos fonte do conteudo*/